<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% for metaName, metaContent in site.meta -%}
    <meta name="{{ metaName }}" content="{{ metaContent }}">
  {%- endfor %}
  {% block meta %}{% endblock %}

  <title>{% block title -%}
    {{ item.title | default(title) }} {{ site.meta.title }}
  {%- endblock %}</title>

  {% block head %}
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/{{ assets('main.css') }}">
  {% endblock %}
</head>
<body class="antialiased dark:bg-almost-black dark:text-almost-white bg-almost-white text-almost-black">
  
  {% block content %}{% endblock %}

  {% include "partials/tailwind-size-debug.njk" %}    
  {% block bodyEnd -%}
    {% if site.runtime.isProduction() %}
      <script data-goatcounter="https://adam.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    {% endif %}
  {%- endblock %}
</body>
</html>
