---
title: •
repository: adamkiss/adamkiss.com
---

{% extends "layout.njk" %}

{% block content %}
  <div class="
    overflow-hidden absolute inset-0 flex flex-col justify-center items-start px-[10vw]
    bg-almost-white text-almost-black dark:bg-almost-black dark:text-almost-white
    antialiased leading-tight font-bold text-2xl xs:text-4xl sm:text-6xl xl:text-7xl
  ">
    <h1 class="mt-6"><em>Design</em> for developers. <em>Development</em> for designers. <em>Brand & Marketing</em> for Small Businesses.</h1>
    <p class="mt-12 flex items-center">
      <span class="relative flex w-2 h-2 md:w-6 md:h-6 mt-1 mr-2 md:mt-3">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-ffs-2021 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-2 w-2 md:h-6 md:w-6 bg-ffs-2021"></span>
      </span>
      <a class="underline text-ffs-2021 transition hover:animate-pulse" href="mailto:iam@adamkiss.com?subject=I%20need%20your%20superpower:%20Design%20and%20development%20chops"><em>iam@</em><span class="text-almost-black dark:text-almost-white">adamkiss</span><em>.com</em></a>
    </p>
  </div>
{% endblock %}
