---
title: I make things happen.
---

{% extends "layout.njk" %}

{% block content %}
  <div class="fixed w-full z-20 backdrop-filter backdrop-blur ">
    <div class="max-w-4xl 2xl:max-w-6xl mx-auto flex space-x-4 justify-between items-center px-8 py-2 sm:py-4">
      <a href="#" class="flex items-center">{% include "dot.njk" %}<span class="hidden sm:block font-bold">Adam Kiss</span></a>
      <span class="flex-grow"></span>
      <a class="text-black dark:text-white underline rounded-lg p-1" rel="external noopener noreferrer" href="https://instagram.com/adamkiss"><abbr title="Instagram" class="xs:hidden">IG</abbr><span class="hidden xs:block">Instagram</span></a>
      <a class="text-black dark:text-white underline rounded-lg p-1" rel="external noopener noreferrer" href="https://twitter.com/adamkiss"><abbr title="Twitter" class="xs:hidden">TW</abbr><span class="hidden xs:block">Twitter</span></a>
      <a class="text-black dark:text-white underline rounded-lg p-1" href="mailto:iam@adamkiss.com">E-mail</a>
    </div>
  </div>
  <div class="max-w-4xl 2xl:max-w-6xl mx-auto px-8 py-24 2xl:py-32 relative z-10">
  
    <div class="block md:hidden text-5xl font-bold">
      <div aria-label="Adam Kiss" class="logo text-gray-800 dark:text-gray-200"><span
        aria-hidden class="pointer-events-none">A</span><span
        aria-hidden class="pointer-events-none">d</span><span
        aria-hidden class="pointer-events-none">a</span><span
        aria-hidden class="pointer-events-none">m</span><span
        aria-hidden class="pointer-events-none"> </span><span
        aria-hidden class="pointer-events-none">K</span><span
        aria-hidden class="pointer-events-none">i</span><span
        aria-hidden class="pointer-events-none">s</span><span
        aria-hidden class="pointer-events-none">s</span>
      </div>
    </div>

    <div class="grid gap-16 lg:grid-cols-2">
      <div class="lg:col-span-2 text-xl xs:text-3xl md:text-4xl 2xl:text-6xl 2xl:font-thin 2xl:pb-16">
        <h2 class="mt-12 text-[1.1em] font-serif">I make things happen.</h2>
        <ul class=" leading-12 list-ndash list-outside pl-4 -ml-4">
          <li>Design for developers.<br></li>
          <li>Development for designers.<br></li>
          <li>Brand & marketing for small businesses.</li>
        </ul>
      </div>  

      <div class="sm:max-w-md sm:ml-auto lg:max-w-none ml:ml-none">
        <h2 class="mt-16 text-5xl font-serif">Now</h2>
        <ul class="text-xl leading-12 list-ndash list-outside pl-4 -ml-4">
          <li>Redesigning and consolidating the collateral of a client and setting a process to keep the quality over time in four countries</li>
          <li>Exploring whether CMS can be as delightful as a minimal text editor, while keeping the owner in full control of their data</li>
          <li>What's the least you need to do to stay on track of the business? Exploration and development</li>
          <li><a class="underline" href="mailto:iam@adamkiss.com?subject=I%20need%20your%20superpower:%20Design%20and%20development%20chops">Your thing?</a></li>
        </ul>
      </div>

      <div class="sm:max-w-md lg:max-w-none">
        <h2 class="mt-16 text-5xl font-serif">Tools of the trade</h2>
        <ul class="text-xl leading-12 list-ndash list-outside pl-4 -ml-4">
          <li>All Adobe Design & Affinity products, Figma</li>
          <li>Small to mid-scale CSS, currently of the "utility" variety</li>
          <li>HTML and appropriate webtech: Eleventy where possible, Kirby where preferable, Laravel where needed</li>
          <li>Some experience with sound, music & motion</li>
        </ul>
      </div>

    </div>

    <h2 class="mt-16 text-5xl font-serif">Work Experience</h2>
    <ul class="mt-2 text-xl leading-9">
      {% for job in work %}
        {{ u.yearHeader(job.year, '<li class="mt-4 -ml-4 md:hidden text-almost-black dark:text-almost-white">YYYY</li>') | safe }}
        <li class="md:flex mt-4 lg:mt-0">
          <div class="hidden md:block flex-grow-0 text-gray-600 dark:text-gray-400 tabular-nums">{{ job.year }} </div>
          <div>
            {%- if job.url -%}
              <a rel="external" href="{{ job.url }}" target="_blank" class="inline-flex items-center mr-2"><strong class="underline">{{ job.name }}</strong><span class="text-2xs mt-1 ml-1 px-1 rounded bg-gray-400 text-black uppercase">View</span></a>
            {%- else -%}
              <strong>{{ job.name }}</strong>
            {%- endif -%}
            <span class="block lg:inline-block font-serif text-[1.1em] text-gray-600 dark:text-gray-400">{{ job.work }}, {%
              if job.partner -%}
                with <span class="text-almost-black dark:text-almost-white">{{ job.client | nbsp }}
              {%- else -%}
                for <span class="text-almost-black dark:text-almost-white">{{ job.client | nbsp }}
              {%- endif -%}</span>
            </span>
          </div>
        </li>
      {% endfor %}
    </ul>

    <h2 class="mt-32 text-xl font-bold">Adam Kiss</h2>
    <p class="text-xl leading-9">Based in Bratislava. Find me on <a class="underline" rel="external noopener noreferrer" href="https://instagram.com/adamkiss">Instagram</a>, <a class="underline" rel="external noopener noreferrer" href="https://twitter.com/adamkiss">Twitter</a> or <a class="underline" href="mailto:iam@adamkiss.com">E-mail</a>. Have a nice day.
    </p>
  </div>
{% endblock %}
